.dark {
  background-color: rgb(16, 15, 15);
  color: white;
}

.dark .product{
    background-color: #3a3939;
    color: white;
}

body {
  background: white;
  color: black;
  transition: 0.3s;
}

body {
  margin:0; font-family:Arial; 
  transition:0.3s;
}




header {
  display:flex; justify-content:space-between; align-items:center;
  padding:15px 25px; background:#007bff; color:white;
}
nav a {
  margin:0 10px; color:white; text-decoration:none;
}
#themeBtn, #menuBtn {
  background:white; color:#007bff; border:none; padding:8px 12px;
  font-weight:bold; cursor:pointer; border-radius:5px;
}
#cartCount {
  display:inline-block; background:red; padding:4px 10px; border-radius:20px;
}




#searchBar {
  width:90%; padding:10px; margin:20px auto; display:block;
  border-radius:8px; border:1px solid #aaa;
}




.product-link {
  text-decoration: none;
  color: inherit;
}
.product-link:hover .product {
  transform: scale(1);
  transition: 0.3s;
}


.products {
  display:grid; grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px; padding:25px;
}
.product {
  background:var(--card); padding:15px; border-radius:10px;
  transition:0.3s; border:1px solid #ccc;
}
.product img {
  width:100%; height:160px; object-fit:cover; border-radius:10px;
  transition:0.4s;
}
.product:hover img { transform:scale(1.05); }
.product button {
  background:#007bff; color:white; border:none;
  margin-top:10px; padding:10px; width:100%; cursor:pointer;
  border-radius:6px; font-size:14px;
}
.product button:hover { opacity:0.8; }





.wish {
  cursor:pointer; font-size:20px; float:right; user-select:none;
}




#mobileMenu { display:none; flex-direction:column; background:#007bff; padding:10px; }
#mobileMenu a { color:white; padding:8px 0; }
#mobileMenu.show { display:flex; }

@media (min-width:768px) {
  #menuBtn { display:none; }
  #mobileMenu { display:flex !important; flex-direction:row; gap:15px; background:none; }
  #mobileMenu a { padding:0; }
}


@media (max-width: 600px) {

  header {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  #mobileMenu {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .products {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .product img {
    height: 180px;
  }
}



@media (min-width: 600px) and (max-width: 768px) {

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  header {
    padding: 12px 18px;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {

  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}



@media (min-width: 1024px) {

  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}